%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      = link_to "Amaranthe CCG", root_path, class: "navbar-brand"
    %ul.nav.navbar-nav
      %li.active
        %a( href="#" )
          Cards
      %li
        %a( href="#" )
          Rules
      - if logged_in?
        %li.dropdown
          %a.dropdown-toggle( data-toggle="dropdown" href="#" id="dlabel" )
            Create a...
            %span.caret
          %ul.dropdown-menu( role="menu" aria-labelledby="dlabel" )
            %li{ role: "presentation" }
              = link_to "Card", "#", { role: "menuitem" }
            %li.divider
            %li{ role: "presentation", class: ( "disabled" unless current_user.is_admin? ) }
              = link_to "Faction", "#", role: "menuitem"
            %li{ role: "presentation", class: ( "disabled" unless current_user.is_admin? ) }
              = link_to "Expansion", "#", { role: "menuitem" }
            %li{ role: "presentation", class: ( "disabled" unless current_user.is_admin? ) }
              = link_to "Card Type", "#", { role: "menuitem" }
            %li{ role: "presentation", class: ( "disabled" unless current_user.is_admin? ) }
              = link_to "Card Subtype", "#", { role: "menuitem" }
        %li.dropdown
          %a.dropdown-toggle( data-toggle="dropdown" href="#" id="dlabel" )
            Make a change to...
            %span.caret
          %ul.dropdown-menu( role="menu" aria-labelledby="dlabel" )
            %li{ role: "presentation" }
              = link_to "Your Profile", edit_user_path(current_user), role: "menuitem"
            %li{ role: "presentation" }
              = link_to "Cards", "#", { role: "menuitem" }
            %li.divider
            %li{ role: "presentation", class: ( "disabled" unless current_user.is_admin? ) }
              = link_to "Factions", "#", role: "menuitem"
            %li{ role: "presentation", class: ( "disabled" unless current_user.is_admin? ) }
              = link_to "Expansions", "#", { role: "menuitem" }
            %li{ role: "presentation", class: ( "disabled" unless current_user.is_admin? ) }
              = link_to "Card Types", "#", { role: "menuitem" }
            %li{ role: "presentation", class: ( "disabled" unless current_user.is_admin? ) }
              = link_to "Card Subtypes", "#", { role: "menuitem" }
    %ul.nav.navbar-nav.navbar-right
      - if !logged_in?
        %li
          = link_to register_path do
            Sign Up
            %span.glyphicon.glyphicon-user
        %li
          = link_to sign_in_path do
            Login
            %span.glyphicon.glyphicon-log-in
      - else
        %li
          = link_to sign_out_path do
            Logout
            %span.glyphicon.glyphicon-log-out